body { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;}
body .btn-group .btn { border-radius: 0px;}
body .frame-main .frame-right .dropdown-menu a:hover,body .frame-main .frame-right .dropdown-menu .this a { background: #0EA460;}
body .topbar { background: #0EA460;}
body .topbar .content .topbar_menu { border-color: #0d9658;}
body .topbar .content .topbar_menu.this,body .topbar .content .topbar_menu:hover { background: #0b834d; border-color: #0b834d;}
body .aui_outer .aui_state_focus .aui_title,body .aui_outer .aui_title { background: #0EA460;}
body .aui_outer .aui_buttons button.aui_state_highlight { background: #0EA460;}
body .aui_outer .aui_buttons button.aui_state_highlight:hover { background: #10bb6e;}
body .aui_outer .aui_buttons button.aui_state_highlight:active { background: #064629;}
body .aui_outer .aui_min:hover,body .aui_outer .aui_max:hover { background: #085e37;}
body .aui_outer .aui_min:active,body .aui_outer .aui_max:active { background: #000000;}
body #selContainer { border: 1px solid #085e37; background-color: #0EA460;}
body .file_select { background: #0EA460; border-color: transparent; color: #fff; border-radius: 0px;}
body .frame-main .frame-left { background: #fafafa;}
body .frame-main .frame-left .ztree li a { border-color: transparent; height: 23px; line-height: 23px;}
body .frame-main .frame-left .ztree li a:hover { background: #ffd987;}
body .frame-main .frame-left .ztree li a.curSelectedNode,body .frame-main .frame-left .ztree li a.curSelectedNode:hover { background: #0EA460; border-color: transparent; color: #fff; border-radius: 0px;}
body .fileList_list .file2 { background: #fff3d9;}
body .fileList_icon .file,body .fileList_list .file { border-radius: 0; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; transition: all 0.2s;}
body .fileList_icon .file.select,body .fileList_icon .file.selectDragTemp,body .fileList_list .file.select,body .fileList_list .file.selectDragTemp { background: #0EA460; border-color: transparent; color: #fff; border-radius: 0px;}
body .fileList_list .file.select,body .fileList_list .file.selectDragTemp { border-bottom: 1px solid #10bb6e !important;}
body .fileList_icon .file.hover,body .fileList_list .file.hover { color: #444; background: #ffd987; border-radius: 0; border-color: transparent;}
body .fileList_icon .file.hover.select,body .fileList_icon .file.hover .selectDragTemp,body .fileList_list .file.hover.select,body .fileList_list .file.hover .selectDragTemp { background: #0EA460; border-color: transparent; color: #fff; border-radius: 0px;}
body .context-menu-list { box-shadow: 0 10px 40px rgba(0,0,0,0.4); border-radius: 0;}
body .context-menu-list .context-menu-item { line-height: 25px; height: 25px; padding: 0 15px 0 20px;}
body .context-menu-list .context-menu-item.hover,body .context-menu-list .context-menu-item.selected.hover { background: #0EA460;}
body #body .menu_left,body #body .app_menu_left { background: #0c8d52;}
body #body .menu_left h1,body #body .app_menu_left h1 { color: #fff; font-weight: 400;}
body #body .menu_left .setting a,body #body .app_menu_left .setting a { color: #fff;}
body #body .menu_left .setting a:hover,body #body .app_menu_left .setting a:hover { background: #0b834d;}
body #body .menu_left .setting a.selected,body #body .app_menu_left .setting a.selected { background: #0a7544; border-left: 4px solid #fff; color: #fff;}
body #body .main .nav a:hover,body #body .main .nav a.this { background: #0EA460; border: 1px solid #0EA460;}
body .edit_tab .tabs { border-bottom: 1px solid #ddd;}
body .edit_tab .tabs .tab { background: #eee; color: #666;}
body .edit_tab .tabs .close { opacity: 0.05; filter: alpha(opacity=5); text-shadow: none; color: #fff;}
body .edit_tab .tabs .tab.hover { background: #eee;}
body .edit_tab .tabs .add { background: #ddd; border: 1px solid #ddd; color: #666;}
body .edit_tab .tabs .tab.this { background: #63acff; border-left: 1px solid #63acff; margin-left: -1px; border-right-color: #63acff;}
body .edit_tab .tabs .tab.this .close { opacity: 0.4; filter: alpha(opacity=40);}
body .edit_tab .tabs .tab.hover .close { opacity: 0.7; filter: alpha(opacity=70);}
body .edit_tab .tabs .edit_changed a.close { opacity: 1; filter: alpha(opacity=100);}
body .edit_tab .tabs .tab.this.edit_changed a.close { color: #fff;}
body .edit_tab .draggable-dragging { background: #ddd; border-left: 3px solid #63acff; margin-left: -3px;}
